*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70.5%;
}

body {
  box-sizing: border-box;
  background-color: $background-color;
}

#app {
  width: 100%;
  height: 100%;
}
